// Au sujet des bannières plus particulièrement celle de la page d'accueil:::::::::::

.banner {
  @include img-text-center;
  width: 100%;
  @media (max-width: 450px) {
    height: 121px;
    display: flex;
    justify-content: flex-start;
  }
  img {
    border-radius: 25px;
    filter: brightness(70%);
    width: 93%;
    @media (max-width: 770px) {
      border-radius: 15px;
      height: 155px;
    }
    @media (max-width: 450px) {
      width: 95%;
      height: 100%;
      border-radius: 10px;
      margin: auto;
    }
  }
  .tag {
    position: absolute;
    @include font-family;
    font-size: 48px;
    color: #ffff;
    @media (max-width: 770px) {
      font-size: 30px;
    }
    @media (max-width: 450px) {
      font-size: 24px;
      word-wrap: break-word;
      width: 50%;
      margin-left: 20px;
    }
  }
}

// Concernant la bannière de la page "About:::::::::::::::::::::::::::::::::::::::::::

.banner-about img {
  filter: none;
}
