// Au sujet des collapses en général et de la page "About" en particulier:::::::::::::::

.collapse {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0px;
  @media (max-width: 770px) {
    width: 80%;
  }
  @media (max-width: 450px) {
    width: 90%;
  }
  & .not-open {
    height: 52px;
    background-color: $color-red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    border-radius: 5px;
    @media (max-width: 770px) {
      height: 40px;
      margin-top: 0px;
    }
  }
  & .collapse-title {
    @include font-family;
    font-size: 24px;
    color: white;
    margin: 0px;
    padding: 0px;
    margin-left: 10px;
    @media (max-width: 770px) {
      font-size: 16px;
      line-height: 22px;
    }
    @media (max-width: 450px) {
      font-size: 12px;
      line-height: 14px;
    }
  }
  & .collapse-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    width: 35px;
    height: 28px;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.6s ease-in-out;
  }
  & .arrow-up {
    transform: rotate(0deg);
  }
  & .arrow-down {
    transform: rotate(-180deg);
  }
  & .collapse-text-container {
    background-color: #f6f6f6;
    padding: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    & .collapse-text {
      color: $color-red;
      @include font-family;
      font-size: 20px;
      line-height: 30px;
      margin: 0px;
      text-align: justify;
      @media (max-width: 770px) {
        font-size: 16px;
        line-height: 22px;
      }
      @media (max-width: 450px) {
        font-size: 12px;
        line-height: 14px;
      }
    }
  }
}

.collapse-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  @media (max-width: 770px) {
    margin-top: 30px;
  }
}

// Particularités concernant les collapses des pages "Housing"::::::::::::::::::::::::::

.collapse-housing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin-bottom: 50px;
  margin-top: -25px;
  gap: 40px;
  @media (max-width: 770px) {
    flex-direction: column;
    margin-top: 30px;
  }
  @media (max-width: 450px) {
  }
  & .collapse {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    @media (max-width: 770px) {
      width: 95%;
      padding-top: 0px;
      margin-top: 0px;
    }
    @media (max-width: 450px) {
      padding: 0px;
      width: 95%;
      margin-top: 0px;
    }
    & .collapse-title,
    .collapse-text {
      font-size: 18px;
      line-height: 25px;
      ul {
        margin: 0;
      }
      li {
        list-style-type: none;
      }
      @media (max-width: 770px) {
        font-size: 16px;
        line-height: 22px;
      }
      @media (max-width: 450px) {
        font-size: 12px;
        line-height: 14px;
      }
    }
  }
}

// Concernant les animations d'ouverture et de fermeture des collapses::::::::::::::::::

.open-collapse {
  opacity: 1;
  height: auto;
  overflow: visible;
  animation: openContainer 0.7s ease-in-out;
  transform-origin: top;
}

.close-collapse {
  opacity: 0;
  height: 0px;
  overflow: hidden;
  animation: closeContainer 1.5s ease-in-out;
  transform-origin: top;
}

@keyframes closeContainer {
  0% {
    opacity: 1;
    transform: scaleY(1);
    height: auto;
  }
  100% {
    opacity: 0;
    transform: scaleY(0);
    height: 0;
  }
}

@keyframes openContainer {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
