@import "../utils/variables";

.img-banner-home-page {
    @include img-text-center;
    img {
        border-radius: 25px;
        filter: brightness(70%);
    }
    .tag {
        position: absolute;
        @include font-family;
        font-size: 48px;
        color: #FFFF;
    }
}